body
{
    font-family: 'Montserrat', sans-serif !important;
}

.btn
{
    border-radius: 50em !important;
    font-weight: 500;
}

.btn-lg
{
    font-size: 14px;    
}

.btn-sm
{
    font-size: 13px;
}

.bg-red
{
    background-color: #d50043;
}

.bg-light-blue
{
    background-color: #06cccd ;
}

.bg-dark-blue
{
    background-color:#121b44 ;
}

.color-white
{
    color: #fff;
}

.color-dark-blue
{
    color: #121b44 ;
}

.container-passos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 274px;
    border-radius: 20px;
    padding: 33px;
}

.texto-passos
{
    width: 310px;
    border-color: #fff;
    border-width: 0 2px 0 0;
    border-style: dashed;   
    padding-right: 33px;
    margin-right: 33px;
}

.texto-passos h2
{
    font-size: 22px;
    font-weight: 700;
}
