body
{
    font-family: 'Montserrat', sans-serif !important;
}

.btn
{
    border-radius: 50em !important;
    font-weight: 500;
}

.btn-lg
{
    font-size: 14px;    
}

.btn-sm
{
    font-size: 13px;
}

.bg-red
{
    background-color: #d50043;
}

.bg-light-blue
{
    background-color: #06cccd ;
}

.bg-dark-blue
{
    background-color:#121b44 ;
}

.color-white
{
    color: #fff;
}

.color-red
{
    color: #d50043;;
}

.color-dark-blue
{
    color: #121b44 ;
}

.container-passos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 274px;
    border-radius: 20px;
    padding: 33px;
}

.container-passo
{
    text-align: center;
}

.texto-passos
{
    width: 310px;
    border-color: #fff;
    border-width: 0 2px 0 0;
    border-style: dashed;   
    padding-right: 33px;
    margin-right: 33px;
}

.texto-passos h2
{
    font-size: 22px;
    font-weight: 700;
}

.icone-passos
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.border-passos
{
    border: 1px dashed #fff;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.icone-passos img
{
    width: 50px;
}


.texto-institucional-home{ padding: 155px 0 0 0; }
.texto-institucional-home h2 { font-size:13px; }
.texto-institucional-home h3 { font-size:38px; font-weight: bold; }
.texto-institucional-home p { font-size:12px; display: inline-block; max-width: 400px;}

.img-institucional-home{width: 600px;}


.container-beneficios{background-color: #121b44; position: relative;}
.container-beneficios h2 { font-size:13px; margin:70px 0 0 0; }
.container-beneficios h3{color:white; font-size:32px; font-weight: bold; margin-bottom: 50px; }
.svg-topo-beneficios{ }

.box-plano{width: 255px; position: relative; z-index: 0; display: block; text-align: center; }
.topo-plano{position: relative;}
.circulo-topo-plano{background-color: white; border-radius:50%; width: 65px; height: 65px; position: absolute; top:-25px; left:0; right:0; margin:0 auto;}
.circulo-topo-plano .texto { margin-top:14px; }
.circulo-topo-plano .texto-maior{font-size: 18px; font-weight: bold;}
.circulo-topo-plano .texto-menor{font-size: 11px; margin-top:-8px }

.shadow-svg-topo-plano {
    -webkit-filter: drop-shadow( 0px 0px 20px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 20px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }

.bg-svg-topo-plano-1{fill: url(#bg-svg-topo-plano-1) #de336b; box-shadow: 10px 10px 10px #000;}

#bg-svg-topo-plano-1 {
    --color-stop-1: #e14452;
    --color-stop-2: #de336b;
    --color-stop-3: #dc267f;
  }

.bg-btn-plano-1{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e14452+0,de336b+50,dc267f+100 */
    background: #e14452; /* Old browsers */
    background: -moz-linear-gradient(left,  #e14452 0%, #de336b 50%, #dc267f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #e14452 0%,#de336b 50%,#dc267f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #e14452 0%,#de336b 50%,#dc267f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e14452', endColorstr='#dc267f',GradientType=1 ); /* IE6-9 */
    }
.btn-planos-home{width: auto; height: 38px; line-height: 38px; border-radius: 50em !important; border:0; font-size: 16px; padding:0 20px; margin:20px auto 0 auto;}
.titulo-topo-plano{position: absolute; left:0; right: 0; margin:0 auto; color:#fff; 
font-weight: bold; font-size:22px; text-transform: uppercase; margin-top:50px;}

ul.lista-plano {display: block; position: relative; width: 206px; left:0; right:0; top:0; margin:-20px auto 0 auto; z-index:-1}
ul.lista-plano li{ display: flex; justify-content: center; align-items: center; width:100%; line-height: 11px; height: 30px; font-size: 11px; color:#000; text-align: center; border-bottom:1px solid #B9C8D3}

ul.lista-plano li:nth-child(even) {background: #DFF6FC}
ul.lista-plano li:nth-child(odd) {background: #B1DEE4}
ul.lista-plano li:first-child {background: #fff}
ul.lista-plano {border: 1px solid #B9C8D3}