.container-header
{
    background-image: 
        linear-gradient(
            to right,
            #0a1b35, #271b63
        );
}

.container-header, .container-carousel, .carousel, .carousel-item
{
    height: 600px;
}

.navbar
{
    background-color: transparent !important;
    padding: 4% 5%;
}

.link-logo
{
    margin-right: 5%;
}

.img-logo
{
    object-fit: cover;
    height: 45px;
}

.container-menu
{
    margin-right: 10%;
}

.container-btn-header
{
    margin-right: 2%;
}

.container-btn-header .nav-item:not(:last-child)
{
    margin-right: 15px;
}


.icone-sociais
{
    object-fit: cover;
    width: 32px;
}

.titulo
{
    font-size: 38px;
    font-weight: 700;
}

.carousel-indicators
{
    display: inline-block;
    top: 20%;
    left: auto;
    bottom: auto;
    margin: 0;
}

.carousel-indicators li
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
}

.carousel-indicators li:not(:last-child)
{
    margin-bottom: 40px;
}

.carousel-indicators li:not(:last-child)::before
{
    display: block;
    content: '';
    width: 2px;
    height: 43px;
    background-color: #fff;
    position: absolute;
    left: 48%;
    top: 22px;
}

.carousel-indicators .active
{
    background-color: #44c5c0 ;
}

.carousel
{
    width: 100% !important;
}


.institucional-carousel
{
    width: 37%;
    margin-top: 5%;
}

.container-carousel-familia, .container-carousel-empresa
{
    background-repeat: no-repeat;
    background-position: 100% 12%;
}

.container-carousel-familia
{
    background-image: url('../../imagens/para-sua-familia.png');    
}

.container-carousel-empresa
{
    background-image: url('../../imagens/para-sua-empresa.png');
}